body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 300px;
    background-color: green;


}
.cal_val{
    display: flex;
    flex-direction: column;
    margin: 20px;


}
button{
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    color: green;
    background-color: black;
}

.input_text{
    width: 230px;
    height: 70px;
    margin-top: 5px;
    font-size: larger;
    text-align: end;

}
.mainper{
    display: flex;
    justify-content: center;

}